/* This is a CSS comment */
* {
  box-sizing: border-box;
  }
div.main-pages {
  background-color: LightSteelBlue;
  }
div.retro-pages {
  background-image: url(../images/dinos-stars.gif);
  margin: 0px;
  padding: 15px;
  font-family: Times, "Times New Roman", serif;
  color: white;
  }
nav.retro-pages {
  padding: 10px;
  text-align: center;
  border: 10px double DarkViolet;
  width: 100%;
  background-color: GoldenRod;
  font-size: 1.25em; /* 20px/16px = 1.25em */
  }
img.bullet {
  padding-right: 6px;
}
#dinos-pizza {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-color: DarkGreen;
  border-width: 5px;
  margin: 5px;
}
#sammy {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure.retro-pages {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-style: groove;
  border-color: red;
  border-width: 20px;
}
h2.retro-pages, h3.retro-pages {
  color: red;
  }
ul.retro-pages {
  color: red;
  list-style-type: none;
}
